body {
    background: rgb(52,124,255);
    background: linear-gradient(320deg, rgba(52,124,255,1) 39%, rgba(160,187,255,1) 82%, rgba(255,255,255,1) 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

.card {
    width: 320px;
    text-align: center;
    background-color: rgba(223, 232, 255, 0.25);
    border: 0px solid white;
    border-radius: 20px;
    box-shadow: 12px 12px 11px 5px rgba(0,0,0,0.3);
}

.card h5, h4, h2 {
    color: white;
}

h1 {
    font-size: 50px;
    font-weight: lighter;
    letter-spacing: 8px;
}

h5 {
    font-size: 20px;
    font-weight:lighter;
    letter-spacing: 1.5px;
}

h4{
    font-size: 22px;
    font-weight: lighter;
    padding-bottom: 1em;
    border-bottom: 0.4px solid white;
    letter-spacing: 1.5px;
}
h2 {
    font-size: 60px;
}

.wi {
    font-size: 90px;
    margin-top: 20px;
    margin-bottom: 25px;
    color: white;
}

.form-control {
    border-radius: 20px;
}

.form-select {
    border-radius: 20px;
}

.btn {
    border-radius: 20px;
    font-weight: lighter;
    letter-spacing: 1.5px;
}

.btn-secondary {
    background-color: rgba(223, 232, 255, 0.4);
    border: 0px solid white;
    letter-spacing: 1.5px;
}